.home_main {
  width: 100%;
  padding: 0 100px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  img {
    width: 80px;
    height: 80px;
  }

  button {
    font-size: 18px;
    font-weight: 300;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(250, 248, 248);
    color: teal; 
    transition: all .5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
 
    &:hover {
      background-color: #d9534f;
      color: white;
    }
  }
}

.home_form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .home_form_1 {
    width: 50%;
    display: flex;
    justify-content: center;
    
  }

  .home_form_2 {
    width: 50%;
    display: flex;
    justify-content: center;
  }
}

.rules {
  width: 100%;
  padding: 50px 100px 20px 100px;

  h4 {
    font-size: 24px;
    color: #d9534f;
  }

  ul {
    padding: 0 0 0 50px;
    li {
      font-size: 18px;
      color: teal;
      letter-spacing: 1px;
      margin-bottom: 10px;
    }
  }
}

.footer {
  width: 100%;
  height: 50px;
  background-color: teal;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 22px;
    color: white;
  }
}








@media (max-width: 992px) {

  .home_main {
    padding: 0 50px;
    height: 100px;
  
    img {
      width: 80px;
      height: 80px;
    }
  
    button {
      font-size: 18px;
      padding: 8px 15px;      
    }
  }

  .rules {
    padding: 50px 20px 20px 20px;
  
    h4 {
      font-size: 22px;
    }
  
    ul {
      padding: 0 0 0 50px;
      li {
        font-size: 18px;
        margin-bottom: 10px;
      }
    }
  }
  
  .home_form {    
  
    .home_form_1 {
      width: 100%;      
    }
  
    .home_form_2 {
      width: 100%;
    }
  }
}









@media (max-width: 768px) {

  .home_main {
    padding: 0 20px;
    height: 90px;
  
    img {
      width: 70px;
      height: 70px;
    }
  
    button {
      font-size: 18px;
      padding: 6px 12px;      
    }
  }

  .rules {
    padding: 50px 20px 20px 20px;
  
    h4 {
      font-size: 22px;
    }
  
    ul {
      padding: 0 0 0 40px;
      li {
        font-size: 17px;
        margin-bottom: 8px;
      }
    }
  }
  
  .home_form {    
  
    .home_form_1 {
      width: 100%;      
    }
  
    .home_form_2 {
      width: 100%;
    }
  }
}










@media (max-width: 612px) {

  .home_main {
    padding: 0 20px;
    height: 80px;
  
    img {
      width: 60px;
      height: 60px;
    }
  
    button {
      font-size: 17px;
      padding: 6px 12px;      
    }
  }

  .rules {
    padding: 40px 20px 20px 20px;
  
    h4 {
      font-size: 20px;
    }
  
    ul {
      padding: 0 0 0 30px;
      li {
        font-size: 16px;
        margin-bottom: 8px;
      }
    }
  }
  
  .home_form {    
  
    .home_form_1 {
      width: 100%;      
    }
  
    .home_form_2 {
      width: 100%;
    }
  }
}










@media (max-width: 451px) {

  .home_main {
    padding: 0 10px;
    height: 80px;
  
    img {
      width: 60px;
      height: 60px;
    }
  
    button {
      font-size: 17px;
      padding: 6px 12px;      
    }
  }

  .rules {
    padding: 30px 10px 20px 10px;
  
    h4 {
      font-size: 20px;
    }
  
    ul {
      padding: 0 0 0 25px;
      li {
        font-size: 16px;
        margin-bottom: 8px;
      }
    }
  }
  
  .home_form {    
  
    .home_form_1 {
      width: 100%;      
    }
  
    .home_form_2 {
      width: 100%;
    }
  }

  .footer {
    p {
      font-size: 16px;
    }
  }
}

